<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style.css">
	<title>{{title}}</title>
</head>
<body>

	<h1 id="top">{{title}}</h1>

   <!-- Jump menu -->
   <ul>
   {% for report in reports %}
      {% if report.audit %}
         <li>
            <a href="#{{ report.audit|e('html_attr') }}">
               {{ report.audit|capitalize }}
            </a>
         </li>
      {% else %}
         <li>
            <a href="#{{ report.label|e('html_attr') }}">
               {{ report.label|capitalize }}
            </a>
         </li>
      {% endif %}
   {% endfor %}
   </ul>

	{% for report in reports %}
		{% if report.audit %}
         <!--Jump menu target -->
			<hr id="{{ report.audit|e('html_attr') }}">
         <a href="#top">Top</a>
			{% include 'audits/' ~ report.audit ~ '.twig' with { data: report.data, title: report.audit } %}
		{% else %}
         <!--Jump menu target -->
         <hr id="{{ report.label|e('html_attr') }}">
         <a href="#top">Top</a>
			{% include 'audits/default.twig' with { data: report.data } %}
		{% endif %}
	{% endfor %}

	{# Uncomment this to see the reports object - useful for debugging. #}
	{# <pre>
		<code>{{dump(reports)}}</code>
	</pre> #}
</body>
</html>