<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
</head>
<body>
	<h1>{{title}}</h1>
	
	{{#each reports}}
		{{#if this.value}}
			<section>
				<h2>{{this.label}}</h2>
				<ul>
					{{#each this.value}}
						{{#with this}}
							{{#if name}}	
								<li>{{name}} / {{count}}</li>
							{{else}}
								<li>{{this}}
							{{/if}}
						{{/with}}
					{{else}}
						<li>{{this.value}}</li>
					{{/each}}
				</ul>
			</section>
		{{/if}}
	{{/each}}

	<pre><code>
		{{{data}}}
	</code></pre>
</body>
</html>