{% for item in data.results %}
	{% if item.value is iterable %}
		<h3>{{item.label}}</h3>
		<ol>
		{% for value in item.value %}
			{% if value.name %}
				<li>
					<span class="count">{{value.count}}</span>
					<em>{{value.name}}</em>
				</li>
			{% endif %}

			{% if value.file %}
				<li>
					<code>{{value.selector}}</code><br />
					<em>{{value.file}}</em>
				</li>
			{% endif %}
		{% endfor %}
		</ol>
	{% else %}
		<h3>{{item.label}}: <span class="count">{{item.value}}</span></h3>
	{% endif %}
{% endfor %}