<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style.css">
	<title>{{title}}</title>
</head>
<body>
	<header class="site__header">
		<h1 id="top">{{title}}</h1>

		<a href="https://github.com/WordPress/css-audit">Github</a>

		<nav class="nav">
			<ul>
				{# Create audit nav if required #}
				{% if reports|length > 1 %}
					{% for report in reports %}
						<li>
							<a href="#{{report.audit}}">
								<strong>{{report.name}}</strong> audit
							</a>
						</li>
					{% endfor %}
				{% endif %}
				<li>
					<button class="btn button__theme-toggle" onClick="cssAudit.toggleDarkMode()" aria-label="Dark Mode"></button>
				</li>
			</ul>
		</nav>

	</header>

	{% for report in reports %}
		{# Start audit section #}
		<section class="audit audit--{{report.template}}" id="{{report.audit}}">

			<header class="audit__header">
				<h2 class="audit__title">
					<strong>{{ report.name }}</strong> <em>audit</em>
				</h2>
				<a class="btn back-to-top" href="#top" title="Back to top">⬆</a>
			</header>

			{# Use specified template, or default template #}
			{% if report.template %}
				{% include '_audit-' ~ report.template ~ '.twig' with { data: report } %}
			{% else %}
				{% include '_audit-default.twig' with { data: report } %}
			{% endif %}

		</section>
	{% endfor %}

	{# Uncomment this to see the reports object - useful for debugging. #}
	{#
	<pre>
		<code>{{dump(reports)}}</code>
	</pre>
	#}

	<script>
		const cssAudit = {};

		document.addEventListener( 'DOMContentLoaded', () => {
			const button = document.querySelector( '.button__theme-toggle' );

			cssAudit.toggleDarkMode = function() {
				const isDarkMode = document.body.classList.contains( 'is-dark-mode' );
				if ( isDarkMode ) {
					button.setAttribute( 'aria-pressed', 'false' );
					document.body.classList.remove( 'is-dark-mode' );
				} else {
					button.setAttribute( 'aria-pressed', 'true' );
					document.body.classList.add( 'is-dark-mode' );
				}
			}

			// Set is-dark-mode class if user has requested dark mode.
			if ( window.matchMedia( '(prefers-color-scheme: dark)' ).matches ){
				document.body.classList.add( 'is-dark-mode' );
				button.setAttribute( 'aria-pressed', 'true' );
			}
		} );
	</script>
</body>
</html>
