{% if data|length > 0 %}
   <section class="audit audit--display-none" id="display-none">
      {% include 'audit-title.twig' with { title: 'display: none' } %}
      {% for item in data %}
         {% if item.value is iterable %}
            <h3>{{item.label}}</h3>
            <ol>
               {% for value in item.value %}

                  {% if value.name %}
                     <li>
                        <span class="count">{{value.count}}</span>
                        <em>{{value.name}}</em>
                     </li>
                  {% endif %}

                  {% if value.file %}
                     <li>
                        <code>{{value.selector}}</code>
                        <br /><em>{{value.file}}</em>
                     </li>
                  {% endif %}

               {% endfor %}
            </ol>
         {% else %}
            <h3>{{item.label}}: {{item.value}}</h3>
         {% endif %}
      {% endfor %}
   </section>
{% endif %}