<section>
	{% if data is iterable %}
		<h2>{{data[0].audit|capitalize}}</h2>
		{% for item in data %}
			{% if item.value is iterable %}
				<h3>{{item.label}}</h3>
				<ul>
					{% for value in item.value %}

						{% if value.name %}
							<li>{{value.name}} - {{value.count}}</li>
						{% endif %}

						{% if value.file %}
							<li><code>{{value.selector}}</code><br>in {{value.file}}</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% else %}
				<h3>{{item.label}}: {{item.value}}</h3>
			{% endif %}
		{% endfor %}
	{% endif %}
</section>
